@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

:root {
  --base: #ffc600;
  --space: 100px;
  --blur: 0px;
}

img {
  padding: var(--space);
  background: var(--base);
  filter: blur(var(--blur));
}

body {
  font-family: 'Barlow', sans-serif;
  background: url('https://wallpaperplay.com/walls/full/a/7/d/182541.jpg');
  background-repeat: repeat;
  text-align: center;
  color: #FFFFFF;
  font-size: 3rem;
}

h2 {
  font-size: 4rem;
}

.js {
  color: var(--base);
}

.controls {
  margin: 50px 0;
}

label {
  font-weight: 100;
}